<div class="wrap container">
<div class="form-container">
  <form [formGroup]='passwordForm'>
    <h1>Account Management</h1>
    <div *ngIf=" status == 'lostPassword' ">
      <h3>Enter the Email Attached to Your Account</h3>
      <div class="form-group">
          <input name="account" formControlName="accountEmail" type="text" class="form-control" placeholder="Email for account">
          <input name="" type="submit" class="form-control" value="recover account" class="btn btn-block">
      </div>
    </div>

    <div *ngIf=" status == 'changePassword' ">
      <h3>Enter Your Old Password</h3>
      <div class="form-group">
        <input name="oldPass" formControlName="oldPassword" type="text" class="form-control" placeholder="Old password">
      </div>
      <div *ngIf="status == 'resetPassword'">
        <h3>Enter Your New Password</h3>
        <div class="form-group">
          <input name="newPass" formControlName="newPassword"  type="text" class="form-control" placeholder="New password">
        </div>
        <h3>Confirm Your New Password</h3>
        <div class="form-group">
          <input name="confirmPass" formControlName="confirmPassword"  type="text" class="form-control" placeholder="Confirm new password">
        </div>
        <div class="form-group">
          <input name="" type="submit" class="form-control" value="change password" class="btn btn-block">
        </div>
      </div>
    </div>
  </form>
</div>
</div>
