
@import "../../styles.scss";

.search-header{
  position: fixed;
  width: 100%;
  height: 6vh;
  background: $accent1;
  color: $primary;
  border-bottom: 1px solid rgb(33, 9, 65);
  box-shadow: 0 0 6px 1px rgba(33,9,65,0.2);
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-container{
  padding-top: 6vh;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 81vh;
  .search-body{
    display: flex;
    justify-content: center;
    &.s1{
      justify-content: space-evenly;
      flex-direction: row;
      flex-grow: 1;
    }
    &.s2{
    }
    &.s3{
      height: 81vh;
      justify-content: flex-start;
    }
  }
}


.reason-for-query{
  .search-reason {
    text-align: left;
    display: flex;
    flex-direction: row;
    margin-bottom: 6px;
    .check{
      margin-right: 12px;
    }
    .text{
      font-weight: 400;
      font-size: 10px;
    }
  }
}


.search-reasult{
  width: 80%;
}




@media (min-width: $breakpoint-md) {
  .search-body{
    flex-direction: row;
    max-width: $breakpoint-lg;
    margin: auto;
    .card{
      min-height: 300px;
    }
  }
}
