@import "../../../styles.scss";

.footer {
  position: fixed;
  bottom: 0px;
  height: 7vh;
  background: $primary;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  box-shadow: $shadow;
}

.footer-link {
  padding: 0.5rem;
  font-size:0.6rem;
  color: white;
  text-decoration: underline;
}
