@import "../../../styles.scss";
.cart-container{


  .cart {
    width: 5vh;
    .overlap {
      position:absolute;
      margin-left: 2.5vh;
    }
    .cart-svg{
      fill: $disabled;
      transition: $basic-transition;

    }
    & .enabled{
      fill: $enabled;
    }

  }
  .count{
    color: silver;
    position: absolute;
    font-size: 2vh;
    padding-left: 20px;
  }
}
