<div class="report-container">
  <div class="section-item">
      <div class="item-label">Report#</div>
      <div class="item-input">{{report.hsmv_report_number}}</div>
  </div>
  <div class="section-item">
      <div class="item-label">City:</div>
      <div class="item-input">{{report.city_of_crash}}</div>
  </div>
  <div class="section-item">
      <div class="item-label">County</div>
      <div class="item-input">{{report.county_of_crash}}</div>
  </div>
  <div class="section-item">
      <div class="item-label">Agency</div>
      <div class="item-input">{{report.reporting_agency}}</div>
  </div>
</div>
