<div class="wrap">
  <div class="page-container">
    <div class="dashboard row">
      <toppanel class="top-panel item"></toppanel>
      <sidepanel class="side-panel item"></sidepanel>

      <div class="column display">
        <tabs class="head item"></tabs>
        <filter [displaying]='displaying' class="item filter"></filter>
        <div [ngSwitch]="displaying" class="display-main">
          <charting *ngSwitchCase="'summary'"></charting>
          <reporting *ngSwitchCase="'reports'"></reporting>
        </div>
      </div>
    </div>
  </div>
</div>
